* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial Black", Arial, sans-serif; /*trocou a fonte, se nao arial black, arial, se nao sans-riff qualquer */
  background: #111;
  color: white;
}